button.custom{
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: #306ab2;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #000;
        transition: 0.5s;
    }
}